<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <div class="nav-bar">

        <h1 class="nav-title">DKnow</h1>

        <div class="nav-list">

            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/services.ejs">Our Services</a></li>
                <li><a href="/contact.ejs">Contact us</a></li>
    
            </ul>

        </div>

    </div>

    <section id="Home">

        <img src="pexels-neosiam-4498792.jpg" class="Home1">

        <div class="Home2">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid 
                excepturi minima eligendi dolore nisi, nobis at dolorum quidem corporis ad maxime 
                rerum libero harum et ab reprehenderit quibusdam optio hic.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid 
                excepturi minima eligendi dolore nisi, nobis at dolorum quidem corporis ad maxime 
                rerum libero harum et ab reprehenderit quibusdam optio hic.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid 
                excepturi minima eligendi dolore nisi, nobis at dolorum quidem corporis ad maxime 
                rerum libero harum et ab reprehenderit quibusdam optio hic.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid 
                excepturi minima eligendi dolore nisi, nobis at dolorum quidem corporis ad maxime 
                rerum libero harum et ab reprehenderit quibusdam optio hic.
            </p>

        </div>

    </section>

</body>

</html>