<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    
    <div class="nav-bar">

        <h1 class="nav-title">DKnow</h1>

        <div class="nav-list">

            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/services.ejs">Our Services</a></li>
                <li><a href="/contact.ejs">Contact us</a></li>
    
            </ul>

        </div>

    </div>

    <section id="ourServices">
        
        <h1>Our Services</h1>

        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ullam, voluptates modi esse architecto blanditiis totam unde magni sint. 
            Cumque, tempora corporis sequi velit, assumenda 
            accusamus vel quia ex vitae, quas quo deserunt? Quis neque ducimus 
            excepturi architecto facere voluptatibus sequi dolor ipsa 
            laboriosam molestiae sint ut, iste fuga eligendi repellendus 
            at possimus doloremque illo quia quaerat laborum repudiandae 
            inventore. Corrupti, odit? Quo delectus laboriosam doloremque 
            maxime dignissimos cupiditate minus quisquam vel facere vitae. 
            Fuga reiciendis eaque nobis aperiam aliquam, eveniet velit 
            ut recusandae cumque? Cum nobis cupiditate quidem eum dolor, 
            fuga laboriosam. Neque nostrum animi nemo at odio, vitae odit!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ullam, voluptates modi esse architecto blanditiis totam unde magni sint. 
            Cumque, tempora corporis sequi velit, assumenda 
            accusamus vel quia ex vitae, quas quo deserunt? Quis neque ducimus 
            excepturi architecto facere voluptatibus sequi dolor ipsa 
            laboriosam molestiae sint ut, iste fuga eligendi repellendus 
            at possimus doloremque illo quia quaerat laborum repudiandae 
            inventore. Corrupti, odit? Quo delectus laboriosam doloremque 
            maxime dignissimos cupiditate minus quisquam vel facere vitae. 
            Fuga reiciendis eaque nobis aperiam aliquam, eveniet velit 
            ut recusandae cumque? Cum nobis cupiditate quidem eum dolor, 
            fuga laboriosam. Neque nostrum animi nemo at odio, vitae odit!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
            Ullam, voluptates modi esse architecto blanditiis totam unde magni sint. 
            Cumque, tempora corporis sequi velit, assumenda 
            accusamus vel quia ex vitae, quas quo deserunt? Quis neque ducimus 
            excepturi architecto facere voluptatibus sequi dolor ipsa 
            laboriosam molestiae sint ut, iste fuga eligendi repellendus 
            at possimus doloremque illo quia quaerat laborum repudiandae 
            inventore. Corrupti, odit? Quo delectus laboriosam doloremque 
            maxime dignissimos cupiditate minus quisquam vel facere vitae. 
            Fuga reiciendis eaque nobis aperiam aliquam, eveniet velit 
            ut recusandae cumque? Cum nobis cupiditate quidem eum dolor, 
            fuga laboriosam. Neque nostrum animi nemo at odio, vitae odit!
        </p>

    </section>

</body>

</html>